@import 'tailwindcss';

:root {
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
}

@layer base {
  body {
    background: var(--white);
    color: var(--gray);
    font-family: var(--font-family);
  }

  h1 {
    color: var(--white);
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
  }

  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: var(--main);
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
  }

  p {
    line-height: 125%;
  }

  button {
    cursor: pointer;
    max-width: 276px;
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: var(--main);
  }

  label {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--gray);
  }

  span {
    font-weight: 500;
    line-height: 125%;
    color: var(--main);
  }

  select,
  input {
    color: var(--main);
    font-weight: 500;
    line-height: 125%;

    background-color: var(--inputs);

    padding: 12px 16px;
    appearance: none;
  }

  select {
    appearance: none;
    position: relative;
    width: 196px;
    border-radius: 12px;
  }

  select::after {
    position: absolute;
    content: '';
  }

  input {
    text-align: center;
    max-width: 160px;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  /* scrollbar */
  .dropdown::-webkit-scrollbar {
    width: 8px;
  }

  .dropdown::-webkit-scrollbar-track {
    background: transparent;
  }

  .dropdown::-webkit-scrollbar-thumb {
    background: var(--gray-light);
    border-radius: 8px;

    border-right: 8px solid transparent;
    background-clip: padding-box;
  }

  .rdp-month {
    padding: 16px;
    width: 100%;
    gap: 44px;
  }

  .rdp-root .rdp-day {
    width: 32px;
    height: 32px;
    padding: 0;
    font-weight: 500;
  }

  .rdp-root .rdp-cell {
    padding: 2px;
  }

  .rdp-root .rdp-month_grid {
    width: 100%;
    table-layout: fixed;
  }

  .rdp-table {
    width: 100%;
    table-layout: fixed;
  }

  .rdp-head_row {
    border-bottom: 2px solid var(--button);
    padding-bottom: 8px;
    margin-bottom: 8px;
  }

  .rdp-head_cell {
    padding: 4px 0;
    font-weight: 600;
    font-size: 14px;
    color: var(--gray);
  }

  .rdp-root .rdp-day:not(.rdp-outside) .rdp-day_button {
    color: var(--main) !important;
  }

  .rdp-root .rdp-month .rdp-weekdays {
    border-bottom: 1px solid var(--button);
  }

  .rdp-root .rdp-month .rdp-weekday {
    padding: 0;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    color: var(--gray);
  }

  .rdp-day_button {
    color: var(--white);
    width: 36px;
    height: 32px;
  }

  .rdp-root .rdp-day_button {
    color: var(--white);
    width: 36px;
    height: 32px;
  }

  .rdp-root .rdp-month .rdp-day.rdp-selected {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: var(--inputs);
    border-radius: 32px;
    width: 41px;
    height: 32px;
    background: var(--button);
    color: white;
    border: none;
  }

  .rdp-root .rdp-month .rdp-selected {
    color: var(--white) !important;
    font-weight: 400 !important;
    width: 41px;
    height: 32px;
  }

  .rdp-root .rdp-day.rdp-selected .rdp-day_button {
    color: white !important;
  }

  .rdp-root .rdp-month .rdp-day.rdp-selected .rdp-day_button {
    border: transparent !important;
    width: 36px !important;
    inline-size: 36px !important;
    height: 32px !important;
  }

  .rdp-root .rdp-day.rdp-selected .rdp-day_button {
    inline-size: 36px;
    block-size: 32px;
  }

  .rdp-row {
    justify-content: space-between;
  }

  .thead {
    border-bottom: 1px solid var(--button);
  }
}
